<h1>Détail d'un talk</h1>
<%= link_to 'Retour à la liste', root_path %>
<%= render @talk %>

<h3>Voter pour ce talk :</h3>
<%= form_for @talk.votes.build, url: talk_votes_path(@talk) do |f| %>
  <%= select_tag(:note, options_for_select([1,2,3])) %>
  <%= f.submit 'Voter pour ce talk' %>
<% end %>
